<head>
  <meta charset="utf-8">
  <script>!function(){try{let e=null;try{e=localStorage.getItem("theme")}catch(t){}let n=window.matchMedia("(prefers-color-scheme: dark)").matches,a="dark"===e||"light"===e?e:n?"dark":"light",r=document.createElement("style");r.id="no-theme-transition",r.innerHTML="* { transition: none !important; }",document.head.appendChild(r),document.documentElement.setAttribute("data-theme",a),requestAnimationFrame(()=>{requestAnimationFrame(()=>{let e=document.getElementById("no-theme-transition");e&&e.remove()})})}catch(i){}}();</script>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=3.0, user-scalable=yes">
  <title>
    {{ if .IsHome }}
      {{ .Site.Title }} - {{ .Site.Params.description }}
    {{ else }}
      {{ .Title }} - {{ .Site.Title }}
    {{ end }}
  </title>
  <meta name="author" content="{{ .Site.Params.author }}">
  <meta name="keywords" content='{{ if .Params.tags }}{{ delimit .Params.tags ", " }}{{ else }}{{ delimit .Site.Params.keywords ", " }}{{ end }}'>
  {{ $desc := "" }}
  {{if .IsHome}}
    {{ $desc = .Site.Params.description }}
  {{ else if .Params.description }}
    {{ $desc = .Params.description }}
  {{ else }}
    {{ $desc = .Summary | plainify | truncate 120 }}
  {{ end }}
  <meta name="description" content="{{ $desc }}">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@{{ .Site.Params.social.twitter }}">
  <meta property="og:site_name" content="{{ .Site.Title }}">
  <meta property="og:title" content="{{ if .Title }}{{ .Title | htmlEscape }}{{ else }}{{ .Site.Title | htmlEscape }}{{ end }}">
  <meta property="og:image" content="{{ if .Params.card }}{{ .Params.card }}{{ else }}{{ .Site.Params.card }}{{ end }}">
  <meta property="og:description" content="{{ $desc }}">
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" href="/images/favicon.ico" type="image/x-icon">
  {{ if .Params.image }}
  <link rel="stylesheet" href="https://{{ .Site.Params.cdn }}/npm/@fancyapps/ui@4.0/dist/fancybox.css">
  {{ end }}
  {{ if eq .Title "搜索" }}
  <link rel="stylesheet" href="https://{{ .Site.Params.cdn }}/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.css">
  {{ end }}
  <link rel="stylesheet" href="https://{{ .Site.Params.cdn }}/npm/disqusjs@1.3/dist/disqusjs.css">
  {{ $scss := resources.Get "scss/main.scss" }}
  {{ with $scss }}
    {{ $css := . | css.Sass (dict "targetPath" "css/main.css" "outputStyle" "compressed" "transpiler" "dartsass") }}
    <link rel="stylesheet" href="{{ $css.RelPermalink }}">
  {{ end }}
  <link rel="canonical" href="{{ .Permalink }}">
  <link rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" href="{{ .Site.BaseURL }}feed.xml">
  <meta name="google-site-verification" content="{{ .Site.Params.google_site_verification }}">
</head>
