<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=3.0, user-scalable=yes">
  <title>
    {{ if .IsHome }}
      {{ .Site.Title }} - {{ .Site.Params.description }}
    {{ else }}
      {{ .Title }} - {{ .Site.Title }}
    {{ end }}
  </title>
  <script>
    (function() {
      let storageTheme = null;
      try { storageTheme = localStorage.getItem("theme"); } catch (e) {}
      let systemTheme = window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light";
      let targetTheme = (storageTheme === "dark" || storageTheme === "light") ? storageTheme : systemTheme;
      document.documentElement.setAttribute("data-theme", targetTheme);
      document.documentElement.classList.add('no-transition');
    })();
  </script>
  <meta name="author" content="{{ .Site.Params.author }}">
  <meta name="keywords" content='{{ if .Params.tags }}{{ delimit .Params.tags ", " }}{{ else }}{{ delimit .Site.Params.keywords ", " }}{{ end }}'>
  {{ $desc := "" }}
  {{if .IsHome}}
    {{ $desc = .Site.Params.description }}
  {{ else if .Params.description }}
    {{ $desc = .Params.description }}
  {{ else }}
    {{ $desc = .Summary | plainify | truncate 120 }}
  {{ end }}
  <meta name="description" content="{{ $desc }}">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@{{ .Site.Params.social.twitter }}">
  <meta property="og:site_name" content="{{ .Site.Title }}">
  <meta property="og:title" content="{{ if .Title }}{{ .Title | htmlEscape }}{{ else }}{{ .Site.Title | htmlEscape }}{{ end }}">
  <meta property="og:image" content="{{ if .Params.card }}{{ .Params.card }}{{ else }}{{ .Site.Params.card }}{{ end }}">
  <meta property="og:description" content="{{ $desc }}">
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" href="/images/favicon.ico" type="image/x-icon">
  <style>
    :root[data-theme="light"] {
      --color-body-bg: #efefef;
      --color-page-bg: #fcfcfc;
    }
    :root[data-theme="dark"] {
      --color-body-bg: #0d1117;
      --color-page-bg: #161b22;
    }
    body {
      background-color: var(--color-body-bg);
    }
    .container {
      background-color: v.$page-bg-color;
    }
  </style>
  {{ if .Params.image }}
  <link rel="stylesheet" href="https://{{ .Site.Params.cdn }}/npm/@fancyapps/ui@4.0/dist/fancybox.css">
  {{ end }}
  {{ if eq .Title "搜索" }}
  <link rel="stylesheet" href="https://{{ .Site.Params.cdn }}/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.css">
  {{ end }}
  <link rel="stylesheet" href="https://{{ .Site.Params.cdn }}/npm/disqusjs@1.3/dist/disqusjs.css">
  {{ $scss := resources.Get "scss/main.scss" }}
  {{ with $scss }}
    {{ $css := . | css.Sass (dict "targetPath" "css/main.css" "outputStyle" "compressed" "transpiler" "dartsass") }}
    <link rel="stylesheet" href="{{ $css.RelPermalink }}">
  {{ end }}
  <link rel="canonical" href="{{ .Permalink }}">
  <link rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" href="{{ .Site.BaseURL }}feed.xml">
  <meta name="google-site-verification" content="{{ .Site.Params.google_site_verification }}">
</head>
