<section>
  <div class="pager">
    {{ with .PrevInSection }}
    <div class="previous">
      <a href="{{ .RelPermalink }}" data-toggle="tooltip" data-placement="top" title="{{ .Title }}">
        << <span>{{ .Title }}</span>
      </a>
    </div>
    {{ end }}
    {{ with .NextInSection }}
    <div class="next">
      <a href="{{ .RelPermalink }}" data-toggle="tooltip" data-placement="top" title="{{ .Title }}">
        <span>{{ .Title }}</span> >>
      </a>
    </div>
    {{ end }}
  </div>
</section>
