<section>
  <div class="pager">
    {{- $pages := where .Site.RegularPages.ByDate "Type" "posts" }}
    {{- with $pages.Prev . }}
    <div class="previous">
      <a href="{{ .RelPermalink }}" data-toggle="tooltip" data-placement="top" title="{{ .Title }}">
        << <span>{{ .Title }}</span>
      </a>
    </div>
    {{- end }}
    {{- with $pages.Next . }}
    <div class="next">
      <a href="{{ .RelPermalink }}" data-toggle="tooltip" data-placement="top" title="{{ .Title }}">
        <span>{{ .Title }}</span> >>
      </a>
    </div>
    {{- end }}
  </div>
</section>
