<nav class="cover-navigation">
  <ul class="navigation navigation-social">
    <li class="navigation_item_social">
      <a href="https://www.youtube.com/@{{ .Site.Params.social.youtube }}" rel="author" title="Youtube" target="_blank">
        <img src="/images/youtube.svg" width="20" height="20" loading="lazy" alt="Youtube">
      </a>
    </li>
    <li class="navigation_item_social">
      <a href="https://www.threads.net/@{{ .Site.Params.social.instagram }}" rel="author" title="Instagram" target="_blank">
        <img src="/images/instagram.svg" width="20" height="20" loading="lazy" alt="Instagram">
      </a>
    </li>
    <li class="navigation_item_social">
      <a href="https://bsky.app/profile/{{ .Site.Params.social.twitter }}.bsky.social" rel="author" title="Twitter" target="_blank">
        <img src="/images/twitter.svg" width="20" height="20" loading="lazy" alt="Twitter">
      </a>
    </li>
    <li class="navigation_item_social">
      <a href="https://t.me/{{ .Site.Params.social.telegram }}" rel="author" title="Telegram" target="_blank">
        <img src="/images/telegram.svg" width="20" height="20" loading="lazy" alt="Telegram">
      </a>
    </li>
    <li class="navigation_item_social">
      <a href="/feed.xml" rel="author" title="RSS Subscribe" target="_blank">
        <img src="/images/rss.svg" width="20" height="20" loading="lazy" alt="RSS Subscribe">
      </a>
    </li>
  </ul>
</nav>
