{{ $imagePath := "gh/jubyshu/nagisaao/images" }}
<nav class="cover-navigation navigation--social">
  <ul class="navigation">
    <li class="navigation__item_social">
      <a href="https://www.youtube.com/@{{ .Site.Params.social.youtube }}" rel="author" title="Youtube" target="_blank">
        <img src="https://{{ .Site.Params.cdn }}/{{ $imagePath }}/youtube.svg" width="20" height="20" loading="lazy">
      </a>
    </li>
    <li class="navigation__item_social">
      <a href="https://www.threads.net/@{{ .Site.Params.social.instagram }}" rel="author" title="Instagram" target="_blank">
        <img src="https://{{ .Site.Params.cdn }}/{{ $imagePath }}/instagram.svg" width="20" height="20" loading="lazy">
      </a>
    </li>
    <li class="navigation__item_social">
      <a href="https://bsky.app/profile/{{ .Site.Params.social.twitter }}.bsky.social" rel="author" title="Twitter" target="_blank">
        <img src="https://{{ .Site.Params.cdn }}/{{ $imagePath }}/twitter.svg" width="20" height="20" loading="lazy">
      </a>
    </li>
    <li class="navigation__item_social">
      <a href="/feed.xml" rel="author" title="RSS Subscribe" target="_blank">
        <img src="https://{{ .Site.Params.cdn }}/{{ $imagePath }}/rss.svg" width="20" height="20" loading="lazy">
      </a>
    </li>
  </ul>
</nav>
