<nav class="cover-navigation navigation-social">
  <ul class="navigation">
    <li class="navigation_item_social">
      <a href="https://www.youtube.com/@{{ .Site.Params.social.youtube }}" rel="author" title="Youtube" target="_blank">
        <img src="/images/youtube.svg" width="20" height="20" loading="lazy">
      </a>
    </li>
    <li class="navigation_item_social">
      <a href="https://www.threads.net/@{{ .Site.Params.social.instagram }}" rel="author" title="Instagram" target="_blank">
        <img src="/images/instagram.svg" width="20" height="20" loading="lazy">
      </a>
    </li>
    <li class="navigation_item_social">
      <a href="https://bsky.app/profile/{{ .Site.Params.social.twitter }}.bsky.social" rel="author" title="Twitter" target="_blank">
        <img src="/images/twitter.svg" width="20" height="20" loading="lazy">
      </a>
    </li>
    <li class="navigation_item_social">
      <a href="https://t.me/{{ .Site.Params.social.telegram }}" rel="author" title="Telegram" target="_blank">
        <img src="/images/telegram.svg" width="20" height="20" loading="lazy">
      </a>
    </li>
    <li class="navigation_item_social">
      <a href="/feed.xml" rel="author" title="RSS Subscribe" target="_blank">
        <img src="/images/rss.svg" width="20" height="20" loading="lazy">
      </a>
    </li>
  </ul>
</nav>
