@use "variable" as v;
@use "mixin" as m;

// -------------------------------------
// Theme Switch Button
// -------------------------------------
.theme-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 10;
  display: inline-grid;
  place-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: v.$theme-btn-bg-color;
  border: none;
  cursor: pointer;
  transition: background-color .25s ease, transform .25s ease;

  @media (max-width: 779px) {
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    padding: 0;

    svg {
      width: 15px;
      height: 15px;
    }
  }

  &:hover {
    background: v.$theme-btn-hover-color;
  }

  &:active {
    transform: scale(.94);
  }
}

.icon {
  display: inline-block;
  line-height: 0;
  transition: opacity .25s ease, transform .25s ease;
  position: absolute;
}

.icon-sun {
  opacity: 1;
  transform: rotate(0deg) scale(1);
}

.icon-moon {
  opacity: 0;
  transform: rotate(-30deg) scale(.85);
}

:root[data-theme="dark"] .icon-sun {
  opacity: 0;
  transform: rotate(30deg) scale(.85);
}

:root[data-theme="dark"] .icon-moon {
  opacity: 1;
  transform: rotate(0deg) scale(1);
}

// -------------------------------------
// Back Top Button
// -------------------------------------
#back-top {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s ease;

  &.visible {
    opacity: 1;
    pointer-events: auto;
  }

  a {
    @include m.flex-center;
    position: fixed;
    height: 36px;
    width: 36px;
    bottom: 30px;
    right: 20px;
    border-radius: 50%;
    border: 1px solid v.$border-color;
    background-color: v.$top-btn-bg-color;
  }
}

#arrow {
  display: block;
  width: 10px;
  height: 10px;
  margin-top: 5px;
  border-top: 2px solid v.$top-arrow-color;
  border-right: 2px solid v.$top-arrow-color;
  transform: rotate(-45deg);
}

// -------------------------------------
// Post & Book Count
// -------------------------------------
.post_count {
  color: v.$sub-font-color;
  font-size: 0.85em;
}

.post_num {
  color: v.$sub-link-color;
}

// -------------------------------------
// More Years & Tag List
// -------------------------------------
.archive-post-list li,
.read-book-list li {
  margin: 0.25rem auto;
}

.archive-years, 
.taxonomy-list {
  @include m.flex-wrap(0.5em 1em);
  justify-content: flex-start;
  padding-left: 0.5em;
  list-style: none;

  a {
    white-space: nowrap;
  }
}

// -------------------------------------
// Search Input
// -------------------------------------
[data-theme="dark"] #search-searchbar {
  .aa-Form {
    background: #21262d;

    input {
      caret-color: #58a6ff;
      color: v.$font-color;
    }
  }

  @media (max-width: 779px) {
    .aa-Autocomplete button {
      background: #21262d;
      caret-color: #58a6ff;
      color: v.$font-color;
    }
  }
}

// -------------------------------------
// Post Figure
// -------------------------------------
.post-figcaption {
  position: relative;
  display: none;
  color: v.$sub-link-color;
  margin-bottom: 1rem;
  font-size: 0.9rem;
  text-align: center;
}

// -------------------------------------
// Bookshelf Collapsible
// -------------------------------------
#bookshelf-content {
  overflow: hidden;
  transition: transform .25s ease, opacity .25s ease;
  max-height: 0;
  opacity: 0;

  &.expand {
    max-height: 3000px;
    opacity: 1;
  }
}

// -------------------------------------
// Bookshelf List
// -------------------------------------
.book-list {
  @include m.flex-wrap(0.25em 0);
  justify-content: space-between;
  padding: 0 0.25em;
  margin: 0 auto;
  list-style: none;

  li {
    width: 90px;

    img {
      width: 70px;
      height: 100px;
      border: 1px solid v.$border-color;
      object-fit: cover;
    }
  }
}

// -------------------------------------
// DisqusJS
// -------------------------------------
.post-comments {
  padding-top: 4rem;
}

#dsqjs {
  margin-bottom: 1.5rem;

  a { 
    color: v.$link-color; 
  }

  #dsqjs-msg {
    color: v.$sub-font-color;
    line-height: 1.6;
    margin-bottom: 0.6rem;
  }

  .dsqjs-nav {
    width: 100%;

    .dsqjs-nav-tab span {
      color: v.$sub-font-color;
    }

    .dsqjs-order-label {
      color: #7a7a7a;
    }
  }

  .dsqjs-post-list{
    .dsqjs-post-header .dsqjs-post-author {
      color: v.$title-color;
    }

    .dsqjs-post-content {
      color: v.$font-color;

      code {
        background: v.$code-bg-color;
      }
    } 
    
    .dsqjs-no-comment {
      color: v.$sub-font-color;
    }
  }

  .dsqjs-footer {
    text-align: right;
    font-size: 0.8em;
  } 
}

// -------------------------------------
// Footnotes
// -------------------------------------
sup a {
  font-size: 0.75em;
  line-height: 1;
  position: relative;
  top: -0.35em;
  text-decoration: none;
  border-bottom: 0 !important;

  &::before {
    content: "[";
  }

  &::after {
    content: "]";
  }
}

.footnotes {
  font-size: 0.85em;
  color: v.$sub-font-color;
  margin-top: 2rem;
  padding-top: 1em;

  hr {
    display: none;
  }

  &::before {
    display: block;
    content: "";
    width: 2rem;
    height: 2px;
    background-color: v.$border-color;
  }
}

// -------------------------------------
// Post Tags
// -------------------------------------
.post-tags {
  font-size: 0.85em;
  margin-top: 2.5rem;

  ul {
    @include m.flex-wrap(0.4em 0.8em);
    margin: 0;
    padding: 0;
    list-style: none;
  }

  a {
    color: v.$sub-link-color;

    &:hover {
      color: v.$hover-color;
    }
  }
}

// -------------------------------------
// Table of Contents 
// -------------------------------------
#TableOfContents {
  opacity: 0;
  pointer-events: none;
  position: fixed;
  right: 50px;
  top: 170px;
  width: 210px;
  max-width: 210px;
  background: v.$toc-bg-color;
  border-radius: 3px;
  padding: 0.3em;
  z-index: 100;
  transition: opacity 0.25s ease;

  &.visible {
    opacity: 1;
    pointer-events: auto;
  }

  &::before {
    display: block;
    content: "ToC";
    margin: 0.3rem;
    font-size: 1.1em;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    margin: 0.2em 0;
  }

  a {
    font-size: 0.9em;
    color: v.$sub-link-color;
    text-decoration: none;
    border-bottom: 0;

    &:hover,
    &.active {
      color: v.$hover-color;
    }
  }

  ul ul {
    margin-left: 0.8em;
  }
}

// -------------------------------------
// Details
// -------------------------------------
details {
  > :not(summary) {
    font-family: v.$quote-font;
    color: v.$sub-font-color;
    padding: 1em;
    border-radius: 6px;
    background: v.$quote-bg-color;
  }
}

summary {
  display: inline-flex;
  align-items: center;
  gap: 0.2em;
  margin: 0.3rem 0;
  cursor: pointer;
  color: v.$sub-link-color;
  border-bottom: 1px solid currentColor;
  list-style: none;

  &::after {
    content: v.$sum-image;
    display: inline-block;
    transition: transform 0.25s ease;
  }
}

details[open] summary {
  border-bottom-color: transparent;
}

// -------------------------------------
// Table
// -------------------------------------
table {
  width: 100%;
  margin: 2em auto;
  border-collapse: collapse;
  font-size: 0.9em;
  line-height: 1.6;
  color: v.$sub-font-color;
  border: 1px solid v.$border-color;
}

thead th {
  background: v.$quote-bg-color;
  font-weight: 500;
  text-align: left;
}

tbody tr:nth-child(even) {
  background: v.$quote-bg-color;
}

th,
td {
  padding: 0.5em 0.75em;
  border: 1px solid v.$border-color;
  vertical-align: top;
}
