@use "variable" as v;

// -------------------------------------
// Container
// -------------------------------------
.container {
  max-width: 780px;
  z-index: 100;
  margin: 4rem auto;
  background-color: v.$page-bg-color;

  @media (max-width: 779px) {
    margin: 0 auto;
  }
}

.content-wrapper {
  display: block;
  margin-top: 2.5rem;
  padding: 0 1.8rem;

  p {
    text-align: justify;
    hyphens: auto;
    overflow-wrap: break-word;
  }

  @media (max-width: 779px) {
    padding: 0 1.2rem;
  }
}

// -------------------------------------
// Panel
// -------------------------------------
.panel-cover {
  display: block;
  position: relative;
}

.panel-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 180px;
  background: v.$cover-image no-repeat center / cover;
  color: v.$title-color;

  a {
    color: inherit;
  }
}

.panel-title {
  margin: 1rem 0 0.5rem;
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
}

// -------------------------------------
// Navigation
// -------------------------------------
.cover-navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 2.5rem;
  color: v.$sub-font-color;
  margin: 0.5rem 0;
  padding: 0.25rem 0;
  border-block: 1px solid v.$border-color;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
  margin: 0;
  padding: 0;
  list-style: none;

  &__item {
    line-height: 1;
    margin: 0;

    a {
      display: inline-block;
      padding: 0.5rem;
      color: inherit;
    }

    &:hover {
      background: v.$hover-color;
      border-radius: 0.4rem;
      color: #fff;
    }

    &--social img:hover {
      background: v.$sub-link-color;
      border-radius: 50%;  
    }
  }

  &--social {
    margin-top: 0.5rem;
    gap: 15px;
  }
}

// -------------------------------------
// Home Page Nav
// -------------------------------------
.home-nav {
  position: relative;
  top: -30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-icon a {
  display: flex;
  align-items: center;
}

.category ul {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  gap: 5px;
  list-style: none;
  font-size: 0.8rem;
}

// -------------------------------------
// Home Post List
// -------------------------------------
.post-list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;
  margin-top: 1.6rem;

  li {
    margin-bottom: 2.25rem;
  }

  &__title {
    margin: 0.3rem 0;
    font-size: 1.4rem;
    line-height: 1.3;
    color: v.$title-color;

    a {
      display: block;
      color: inherit;

      &:hover {
        color: v.$hover-color;
      }
    }
  }

  &__meta {
    display: flex;
    gap: 0.5rem;
    color: v.$meta-font-color;
    font-size: 0.85rem;
  }

  &__divider {
    margin: 0.6rem 0;
    border-top: 1px solid v.$border-color;
  }

  &__excerpt {
    color: v.$sub-font-color;
    margin: 0.5rem 0;
  }
}

// -------------------------------------
// Blog Post
// -------------------------------------
.post-container {
  margin: 1.5rem auto;
}

.post-meta {
  margin-bottom: 1.8rem;
  color: v.$meta-font-color;
  font-size: 0.9rem;
}

.post {
  img {
    display: block;
    max-width: 100%;
    margin: 1rem auto;
    border-radius: 0.25rem;
  }

  pre {
    overflow-x: auto;
    overscroll-behavior: contain;
  }

  hr {
    margin: 1rem auto;
    border-top: 1px solid v.$border-color;
  }

  &.not_page {
    hr {
      border-top: none;
      text-align: center;

      &::before {
        content: "•••";
        font-size: 1.2rem;
        letter-spacing: 0.5rem;
        margin: 0.5rem 0;
        color: v.$sub-link-color;
      }
    }

    a {
      color: v.$sub-link-color;
      border-bottom: 1px solid currentColor;

      &:hover {
        color: v.$hover-color;
      }
    }

    h3, h4 {
      margin-bottom: 1rem;
    }

    h3 {
      padding-bottom: 0.4rem;
      margin-top: 1.5rem;
      border-bottom: 1px solid v.$border-color;
    }

    li {
      margin: 0.25rem auto;
    }
  }
}

// -------------------------------------
// Prev & Next Post
// -------------------------------------
.pager {
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  border-top: 1px solid v.$border-color;

  a {
    display: block;
    width: 100%;
    padding: 0.6rem 0;
    color: v.$meta-font-color;
    
    &:hover > span{
      color: v.$hover-color;
    }
  }
}

.previous,
.next {
  flex: 1;
}

.previous {
  text-align: left;
}

.next {
  text-align: right;
}

// -------------------------------------
// Pagination
// -------------------------------------
.pagination {
  display: block;
  margin-bottom: 1.8rem;
  text-align: center;
  font-size: 0.9rem;

  .paginate-btn {
    color: v.$sub-font-color;

    &__more {
      text-align: center;
    }
  }

  &__page-number {
    margin: 0;
    color: v.$sub-font-color;
  }

  &__newer {
    margin-right: 1em;
  }

  &__older {
    margin-left: 1em;
  }
}

// -------------------------------------
// Footer
// -------------------------------------
.footer {
  display: block;
  margin-top: 1rem;
  padding-bottom: 0.5rem;
  font-size: 0.75rem;
  color: v.$sub-font-color;

  &__info {
    text-align: center;
    
    .copyright, 
    #runtime {
      color: v.$sub-link-color;
    }
  }
}
