@use "variable" as v;

// -------------------------------------
// Container
// -------------------------------------
.container {
  margin: 60px auto;
  background-color: v.$page-bg-color;
  max-width: 780px;

  @media (max-width: 960px) {
    margin: 0 auto;
    max-width: none;

    .content-wrapper_inner {
      padding: 0 3%;
    }
  }
}

.content-wrapper {
  display: block;
  z-index: 800;
  width: 100%;
  max-width: 780px;
  margin: 40px auto auto auto;

  &_inner {
    padding: 0 30px;
  }

  p {
    text-align: justify;
    text-justify: distribute;
    word-break: break-word;
    word-wrap: break-word;
  }

  @media (max-width: 960px) {
    &_inner {
      padding: 0 3%;
    }
  }

  @media (max-width: 420px) {
    width: 96%;
    
    &_inner {
      padding: 0 2%;
    }

    h1 {
      margin-top: 0;
      font-size: 1.6em;
      letter-spacing: 0;
    }

    h2 {
      font-size: 1.4em;
    }
  }
}

// -------------------------------------
// Panel
// -------------------------------------
.panel-cover {
  display: block;
  position: relative;
  z-index: 10;
  width: 100%;
  max-width: 780px;
  margin: auto;

  @media (max-width: 780px) {
    width: 100%;
    margin-left: 0;
  }

  .panel-title {
    margin: 20px 0 10px 0;
    font-size: 1.8em;
    letter-spacing: 3px;

    @media (max-width: 1100px) {
      font-size: 1.8em;
    }

    @media (max-width: 420px) {
      margin-bottom: .1em;
      font-size: 1.8em;
    }
  }

  .panel-description {
    font-size: 1em;
    font-weight: normal;
    margin: 0 10px;

    @media (max-width: 960px) {
      display: block;
      margin-top: 10px;
    }
  }

  .cover-navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    
    min-height: 40px;
    width: 100%;
    color: v.$sub-font-color;
    margin: 10px auto;
    padding: 5px 0;
    border-top: 1px solid v.$border-color;
    border-bottom: 1px solid v.$border-color;
  }
}

.panel-main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 180px;
  // background: url("/images/cover.svg") no-repeat center center;
  // background-size: cover;

  @media (max-width: 960px) {
    height: 180px;
    position: relative;
  }

  // @media (max-width: 720px) {
  //   background-position: center 20%;
  // }

  &_inner {
    position: relative;
    z-index: 10;
    padding: 0;
    font-weight: 100;
    text-align: center;
    margin: 0 auto;
    color: v.$title-color;

    a {
      color: v.$title-color;
    }

    @media (max-width: 960px) {
      display: block;
    }
  }
}

// -------------------------------------
// Navigation
// -------------------------------------
.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
  margin: 0;
  padding: 0;
  width: 100%;
  list-style-type: none;
  letter-spacing: 1px;

  &_item {
    display: inline-block;
    position: relative;
    line-height: 1em;
    margin: 0;

    a {
      display: inline-block;
      position: relative;
      padding: 8px;
      font-size: 1em;
      color: v.$sub-font-color;
      text-shadow: none;
      transition: color 0.3s ease;
    }

    &:hover {
      background: v.$hover-color;
      border-radius: 7px;

      a {
        color: #fff;
      }
    }
  }

  &-social {
    margin-top: 0.5em;
    gap: 5px;

    a {
      padding: 5px;
      border: 0;

      .label {
        display: none;
      }
      
      .icon {
        display: inline-block;
        font-size: 0.8em;
      }
    }
  }

  &_item_social img:hover {
    background: v.$sub-link-color;
    border-radius: 50%;  
  }

  @media (max-width: 420px) {
    gap: 5px;

    &_item a {
      padding: 3px;
      font-size: 0.95em;
    }
  }
}

// -------------------------------------
// Home Page Nav
// -------------------------------------
.home-nav {
  margin-top: -30px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-icon {
  display: flex;
  align-items: center;

  a {
    display: flex;
    align-items: center;
    color: v.$hover-color;
  }

  img {
    display: block;
    vertical-align: middle;
  }
}

.category {
  font-size: 0.8em;

  ul {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    gap: 5px;
  }

  li {
    display: inline;
  }
}

// -------------------------------------
// Home Post List
// -------------------------------------
.post-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: left;
  display: inline-block;

  &:first-child {
    margin-top: 20px;
  }

  li {
    margin: 0 0 2.2em 0;
  }

  &_title {
    margin-top: 5px;
    margin-bottom: .2em;
    font-size: 1.4em;
    line-height: 1.3em;

    a {
      color: v.$title-color;
      padding-top: 5px;

      &:hover {
        color: v.$hover-color;
      }
    }
  }

  &__meta {
    margin: 0;
    display: inline-block;
  }

  &_date {
    background-size: 100% 100%;
    color: v.$meta-font-color;
    float: left;
    font-size: 0.8em;

    &:hover {
      text-decoration: underline;
    }
  }

  &_divider {
    margin: 10px 0;
    border-top: 1px solid v.$border-color;
  }

  .excerpt {
    font-size: 1em;
    color: v.$sub-font-color;
    text-align: justify;
    text-justify: inter-word;
  }
}

// -------------------------------------
// Blog Post
// -------------------------------------
.post-meta {
  margin: 0 0 1.8em 0;
  color: v.$meta-font-color;
  font-size: 0.9em;
}

.post {
  img {
    cursor: pointer;
    max-width: 100%;
    margin: 1em auto;
    border-radius: 3px;
    text-align: center;
    display: block;
  }

  pre {
    width: auto;
    overflow: auto;
  }

  hr {
    margin: 1em auto;
    border-top: 1px solid v.$border-color;
  }

  &.not_page {
    hr {
      border-top: none;
      text-align: center;

      &::before {
        content: "•••";
        display: inline-block;
        font-size: 1.2em;
        letter-spacing: 0.5em;
        margin: 0.5em auto;
        color: v.$sub-link-color;
      }
    }

    a {
      color: v.$sub-link-color;
      border-bottom: 1px solid v.$sub-link-color;

      &:hover {
        color: v.$hover-color;
      }
    }

    h3 {
      padding-bottom: 5px;
      margin-top: 1.5em;
      border-bottom: 1px solid v.$border-color;
    }

    h3, h4 {
      margin-bottom: 1em;
    }
  }
}

// -------------------------------------
// Prev & Next Post
// -------------------------------------
.post-container {
  margin-top: 20px;
}

.pager {
  margin-top: 20px;

  a {
    width: 100%;
    padding: 10px;
    color: v.$meta-font-color;
    display: block;

    > span {
      padding: 10px 0;
      transition: color 0.3s ease;
    }

    &:hover,
    &:focus {
      > span {
        color: v.$hover-color;
      }
    }
  }
}

.next,
.previous {
  margin-top: 20px;
}

.next {
  float: right;
}

.previous {
  float: left;
}

// -------------------------------------
// Pagination
// -------------------------------------
.pagination {
  display: block;
  margin: 0 0 2em 0;
  text-align: center;

  .paginate-btn {
    font-size: .8em;
    color: v.$sub-font-color;
  }

  &_page-number {
    margin: 0;
    font-size: .8em;
    color: v.$sub-font-color;
  }

  &_newer {
    margin-right: 1em;
  }

  &_older {
    margin-left: 1em;
  }
}

// -------------------------------------
// Footer
// -------------------------------------
.footer {
  display: block;
  padding: 2em 0 15px 0;
  border-top: 1px solid v.$border-color;
  font-size: .7em;
  color: v.$sub-font-color;

  &_info {
    text-align: center;
    width: 100%;

    .copyright {
      color: v.$link-color;
    }

    #runtime {
      color: v.$sub-link-color;
    }
  }
}
