@use "variable" as v;

html, body, ul, ol, li {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  max-height: 100%;
  background-color: v.$body-bg-color;
}

body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-family: v.$body-font;
  font-size: 16px;
  color: v.$font-color;
  letter-spacing: 0.03em;
  font-weight: normal;
  background-color: v.$body-bg-color;

  &::before,
  &::after {
    content: "";
    display: table;
  }

  &::after {
    clear: both;
  }
}

h1, h2, h3, h4, h5 {
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-weight: normal;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}

h1 {
  margin-top: 0;
  font-size: 1.6em;
  letter-spacing: .05em;
}

h2 {
  font-size: 1.4em;
}

h3 {
  position: relative;
  font-size: 1.25em;
  font-weight: bold;
}

h4 {
  font-size: 1.1em;
  font-weight: bold;
}

h5 {
  font-size: 1.05em;
  font-weight: bold;
}

p {
  margin: 10px 0;
  line-height: 1.7em;

  a {
    margin: 0 4px;
  }
}

a {
  color: v.$link-color;
  text-decoration: none;

  &:hover {
    color: v.$hover-color;
    transition: color 0.3s ease; 
  }
}

strong {
  font-weight: bold;
  color: v.$title-color;
}

em {
  font-style: italic;
}

q {
  quotes: none;
  border-bottom: 1px dashed v.$link-color;
}

hr {
  border: none;
}

blockquote {
  font-family: v.$quote-font;
  font-weight: normal;
  font-size: 1em;
  color: v.$sub-font-color;
  margin: 15px 0;
  background: v.$quote-bg-color;
  border-radius: 5px;

  p {
    padding: 0 1em;

    &:first-child {
      padding-top: 1em;
    }

    &:last-child {
      padding-bottom: 1em;
    }
  }
}

code {
  font-size: 0.9em;
  padding: 0.15em 0.35em;
  border-radius: 6px;
  background: v.$code-bg-color;
  color: v.$code-font-color;
  border: 1px solid v.$border-color;
  white-space: normal;
  word-break: break-word;
  line-height: 1;
  box-decoration-break: clone;
}

ol, ul {
  margin: 0 0 1.3em 2em;

  li {
    margin: 0 0 .2em 0;
    line-height: 1.6em;

    p {
      margin: 0 0 .2em 0;
      line-height: 1.6em;
      padding-left: 0;
    }
  }

  ol, ul {
    margin: .1em 0 .2em 2em;
  }
}

ol { 
  list-style-type: decimal;
}

ul { 
  list-style-type: circle;
}
