@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-wrap($gap: null) {
  display: flex;
  flex-wrap: wrap;

  @if $gap != null {
    gap: $gap;
  }
}
