{{ $library := .Site.Data.library }}

<h3 id="bookshelf-title" style="cursor: pointer;">
  书架 <span class="post_count">({{ len $library }})</span>
</h3>
<hr/>

<div id="bookshelf-content" class="collapsed">
  <div class="book-show">
    <ul class="book-list">
      {{ range $library }}
        <li title="{{ .title }} by {{ .author }}">
          <a href="https://neodb.social/search?q={{ .title | urlquery }}" target="_blank" rel="noopener">
            <img src='{{ $.Site.Params.cloudinary }}/blog/books/{{ default "default" .ISBN }}.jpg' alt="{{ .title }}" loading="lazy" /></a>
        </li>
      {{ end }}
    </ul>
  </div>
</div>
