<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  {{- partial "head.html" . }}
  <body>
    <div class="container">
      {{- partial "panel.html" . }}
      <div class="content-wrapper">
        <main class="content-wrapper_inner" role="main">
          {{ block "main" . }}{{ end }}
        </main>
        {{- partial "footer.html" . }}
      </div>
    </div>

    <div id="back-top">
      <a href="#top" title="回到顶部"><span id="arrow"></span></a>
    </div>
    {{- partial "scripts.html" . }}
  </body>
</html>
