{{- define "main" -}}

<div class="home-nav">
  <div class="search-icon">
    <a href="/search/" title="搜索"><img src="/images/search.svg" alt="搜索" ></a>
  </div>
  <div class="category">
    <ul>
      {{- range .Site.Menus.categ }}
      <li>
        <a href="{{ $.Permalink }}categories{{ .URL }}" title="{{ .Pre }}">{{ .Name }}</a>
      </li>
      {{- end }}
    </ul>
  </div>
</div>

{{- $pages := where site.RegularPages "Type" "posts" }}
{{- $paginator := .Paginate $pages 10 }}
<div class="main-post-list">
  <ol class="post-list">
    {{- range $paginator.Pages }}
    <li>
      <h2 class="post-list_title post-title">
        <a href="{{ .RelPermalink }}" title="访问 {{ .Title }}">{{ .Title }}</a>
      </h2>
      <div class="post-list__meta">
        <time datetime='{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}' class="post-list_date">
          {{ .Date.Format "2006-01-02" }}
        </time>
      </div>
      <p class="excerpt">
        {{ .Summary | plainify | truncate 100 }}...
      </p>
      <hr class="post-list_divider">
    </li>
    {{- end }}
  </ol>
  {{- partial "pagination.html" . }}
</div>

{{- end -}}
