{{ define "main" }}

<article class="post-container post-container--single" itemscope itemtype="http://schema.org/BlogPosting">
  <section class="post">
    <h3>统计</h3>
    <hr/>
    {{ $posts := where .Site.RegularPages "Section" "posts" }}
    <ul>
      <li>
        文章: <span class="post_num">{{ len $posts }}</span> 篇
      </li>
      <li>
        {{ $totalWords := 0 }}
        {{ range $posts }}
          {{ $totalWords = add $totalWords .WordCount }}
        {{ end }}
        字数: <span class="post_num">{{ $totalWords }}</span> 字
      </li>
    </ul>

    {{ range sort ($posts.GroupByDate "2006") "Key" "desc" }}
    <hr/>
    <h3 class="collapsible">
      {{ .Key }}
      <span class="post_count"> ({{ len .Pages }})</span>
    </h3>
    <div class="collcontent" hidden>
      <ul>
      {{ range .Pages }}
        <li>
          {{ .Date.Format "01-02" }} &raquo;
          <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        </li>
      {{ end }}
      </ul>
    </div>
    {{ end }}
  </section>
</article>

{{ end }}
