{{- define "main" -}}

<article class="post-container post-container-single">
  <section class="post">
    {{- $books := .Site.Data.books }}
    <h3>读书<span class="post_count">({{ len $books }})</span></h3>
    <hr>
    {{- $years := .Sections.ByTitle.Reverse }}
    {{- $year := index $years 0 }}
    {{- with $year }}
    <h3>{{ .Params.year }}</h3>
    {{- $key := string .Params.year }}
    {{- $booksOfYear := where $books "year" $key }}
    <ul>
      <li>已读: <span class="post_num">{{ len $booksOfYear }}</span> 本</li>
    </ul>
    <ol class="read-book-list">
      {{- range $booksOfYear }}
      <li>{{ .title }},{{ .nation | default "" }},{{ .author }},{{ .translator }},{{ .publisher }},{{ .pubyear }}</li>
      {{- end }}
    </ol>
    <hr>
    {{- end }}

    {{- $otherYears := after 1 $years }}
    {{- if gt (len $otherYears) 0 }}
    <h3>More</h3>
    <ul class="archive-years">
    {{- range $otherYears }}
      <li><a href="{{ .RelPermalink }}">{{ .Params.year }}</a></li>
    {{- end }}
    </ul>
    {{- end }}
  </section>
</article>

{{- end -}}
